extends ../layouts/master

include ../components/xray.pug

include ../components/preloader.pug
include ../components/start-video.pug

block vars

block preloader
  +preloader

//- block grid-test

block header
  +header({
    linkLogo: false
  })

block content
  .index.mission
    .index__inner
      .index__layout 
        .index__bg
          +xray.xray--in-main-page
          +start-video
        section.index__section.index__section--top
          .index-top
            .container
              h1.index-top__title.index-top__title--hide
                |Базальная имплантация по&nbsp;системе STRATEGIC&nbsp;IMPLANT
              h1.index-top__title.index-top__title--clean
                |Базальная имплантация по системе STRATEGIC IMPLANT
              ul.index-top__list
                li.index-top__item
                  p.index-top__text
                    |Технология предполагает установку имплантатов в глубокие отделы челюстной кости.
                li.index-top__item
                  p.index-top__text
                    |Метод одномоментный — вся процедура занимает 3 дня.
                li.index-top__item
                  p.index-top__text
                    |Не требуется костная пластика (синус лифтинга, пересадка блоков).
              .index-top__button
                .vacancies-list
                  a.vacancies-list__extra-btn.vacancies-list__extra-btn--md(href="#")
                    +arrow-link-svg('extra-btn button-extra-svg')
                    span.vacancies-list__extra-span
                      span
                        |Подробнее о методе
      section.index__section.index__section--default
        .container
          .index__second
            .index__second-row
              .index__second-col
                h2.index__second-title
                  |Институт Базальной Имплантации
              .index__second-col
                ul.index__second-list
                  li.index__second-list-item
                    p.index__second-list-text
                      |Проводим обучение профильных специалистов и занимаемся научной деятельностью
                  li.index__second-list-item
                    p.index__second-list-text
                      |Состоим в членстве с немецкой ассоциацией оральных имплантологов Германии DGOI
                  li.index__second-list-item
                    p.index__second-list-text
                      |Авторизованный центр компании IhdeDental
              .index__second-col
                ul.index__second-links
                  li.index__second-link
                    .mission__missions-links-container
                      a.mission__missions-links-link(href='#')
                        +svg-link.mission__missions-links-svg.button-svg
                        .mission__missions-links-text
                          span.mission__missions-links-span 
                            |Больше о нас
                  li.index__second-link
                    .mission__missions-links-container
                      a.mission__missions-links-link(href='#')
                        +svg-video.mission__missions-links-svg.button-svg-video
                        .mission__missions-links-text.mission__missions-links-text--video
                          span.mission__missions-links-span 
                            |Смотреть видео
      section.index__section.index__section--default.index__section--mid
        .container
          .index__block
            .index__mid
              .index__mid-slider
                .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='8' data-slider-prev='11' data-slider-next='12')
                  .swiper-wrapper
                    - for (let i=0; i<3; i++)
                      .swiper-slide
                        a.index__mid-slide(href=`assets/images/index/mid-${i + 1}.jpeg` data-fancybox="gallery")
                          img.index__mid-img(src=`assets/images/index/mid-${i + 1}.jpeg` alt='')
              .index__mid-controls
                .index__mid-control.index__mid-control--left
                  .button-arrow.button-arrow--left
                    .button-arrow__button(data-slider-button='11')
                      +svg-arrow.button-arrow__svg
                .index__mid-control.index__mid-control--right
                  .button-arrow.button-arrow--right
                    .button-arrow__button(data-slider-button='12')
                      +svg-arrow.button-arrow__svg
          .index__block.index-publications.index-operations
            .index-publications__top
              .index-publications__top-left
                h2.index-publications__title
                  |Последние проведенные операции
              .index-publications__top-right
                .mission__missions-links-container
                  a.mission__missions-links-link(href='#')
                    +svg-link.mission__missions-links-svg.button-svg
                    .mission__missions-links-text
                      span.mission__missions-links-span 
                        |Все операции
            .index-operations__slider
              .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='7' data-slider-prev='9' data-slider-next='10')
                .swiper-wrapper
                  - for (let i=0; i<9; i++)
                    .swiper-slide
                      .operation-card
                        .operation-card__row
                          .operation-card__col
                            .operation-card__image
                              img.operation-card__img(src=`assets/images/index/operation-${i % 2 + 1}.jpeg`)
                          .operation-card__col
                            .operation-card__content
                              .operation-card__block
                                .operation-card__top
                                  .operation-card__top-row
                                    .operation-card__top-col
                                      .operation-card__info
                                        .operation-card__price
                                          |456 000 ₽
                                        .operation-card__visits
                                          |4 визита
                                    .operation-card__top-col
                                      .operation-card__rating
                                        ul.operation-card__rating-list
                                          - for (let i=0; i<5; i++)
                                            li.operation-card__rating-item(class=(i < 3 ? 'operation-card__rating-item--active' : ''))
                                              +svg-rating(class='operation-card__rating-svg')
                                .tags.operation-card__tags
                                  ul.tags__list
                                    li.tags__item
                                      a.tags__tag(href='#')
                                        |#имплантация
                                    li.tags__item
                                      a.tags__tag(href='#')
                                        |#протезирование
                                h3.operation-card__title
                                  |Жильцов Сергей Васильевич
                                .operation-card__desc
                                  .operation-card__desc-block
                                    h6.operation-card__desc-title.operation-card__desc-title--red
                                      |Проблема
                                    p.operation-card__desc-text
                                      |Отсутствием зубов на верхней и нижней челюсти и серьезной атрофией костной ткани.
                                  .operation-card__desc-block
                                    h6.operation-card__desc-title
                                      |Предложенное решение
                                    p.operation-card__desc-text
                                      |По результатам врачебного консилиума было принято решение проводить базальную имплантацию.
                              .operation-card__bottom
                                .operation-card__bottom-row
                                  .operation-card__bottom-col
                                    ul.operation-card__links
                                      li.operation-card__link
                                        .mission__missions-links-container
                                          a.mission__missions-links-link(href='#')
                                            +svg-link.mission__missions-links-svg.button-svg
                                            .mission__missions-links-text
                                              span.mission__missions-links-span 
                                                |Подробнее
                                      
                                  .operation-card__bottom-col.operation-card__bottom-col--desktop
                                    .slider-control.slider-control--desktop
                                      .slider-control__item
                                        .button-arrow.button-arrow--left
                                          .button-arrow__button(data-slider-button='9')
                                            +svg-arrow.button-arrow__svg
                                      .slider-control__item
                                        .button-arrow.button-arrow.button-arrow--right
                                          .button-arrow__button(data-slider-button='10')
                                            +svg-arrow.button-arrow__svg
                .operation-card__link.operation-card__link--mobile
                  .mission__missions-links-container
                    a.mission__missions-links-link(href='#')
                      +svg-link.mission__missions-links-svg.button-svg
                      .mission__missions-links-text
                        span.mission__missions-links-span 
                          |Все операции

      section.index__target.index__section.index__section--target.index__section--spiral
        .index__target-background
        .index__target-content
          .container
            .index__paragraph
              span.index__paragraph-text
                |Одна из наших целей — 
              span.index__target-text.index__paragraph-text.index__paragraph-text--highlight
                |развитие 
              img.index__paragraph-img(src='assets/images/test.jpg')
              span.index__paragraph-text
                |&nbsp;технологии базальной имплантации посредством 
              span.index__target-text.index__paragraph-text.index__paragraph-text--highlight
                |обучения и повышения квалификации 
              img.index__paragraph-img(src='assets/images/test2.jpg')
              span.index__paragraph-text
                |&nbsp;специалистов.
        
      section
        .block.index-lab-slider
          .block__control
            .slider-control
              .slider-control__item
                .button-arrow.button-arrow--left
                  .button-arrow__button(data-slider-button='22')
                    +svg-arrow.button-arrow__svg
              .slider-control__item
                .button-arrow.button-arrow.button-arrow--right
                  .button-arrow__button(data-slider-button='23')
                    +svg-arrow.button-arrow__svg
          .block__slide-nav
            ul.block__nav
              li.block__nav-item.block__nav-item--active
                .block__nav-link.block__interactive
                  |Лаборатория ИБИ
              li.block__nav-item
                .block__nav-link.block__interactive
                  |Обучение специалистов
          .block__content.swiper-container(data-slider-id='21' data-slider-prev='22' data-slider-next='23')
            .swiper-wrapper
              .swiper-slide
                .block__slide
                  .block__slide-inner
                    .container
                      h2.block__slide-title.block__interactive
                        |Лаборатория ИБИ
                      p.block__slide-desc.block__interactive
                        |IBI Lab — современная цифровая зуботехническая лаборатория на базе Института Базальной Имплантации.
                      .block__slide-link
                        .mission__missions-links-container
                          a.mission__missions-links-link.block__interactive(href='#')
                            +svg-link.mission__missions-links-svg.button-svg
                            .mission__missions-links-text
                              span.mission__missions-links-span 
                                |Подробнее
                    img.block__slide-img(src='assets/images/index/scroll-1.png' alt='')
              .swiper-slide
                .block__slide
                  .block__slide-inner
                    .container
                      h2.block__slide-title.block__interactive
                        |Обучение специалистов
                      p.block__slide-desc.block__interactive
                        |Развиваем специалистов внутри клиники. Проводим обучающие сессии, семинары, курсы
                      .block__slide-link
                        .mission__missions-links-container
                          a.mission__missions-links-link.block__interactive(href='#')
                            +svg-link.mission__missions-links-svg.button-svg
                            .mission__missions-links-text
                              |Подробнее
                      img.block__slide-img(src='assets/images/index/scroll-2.png' alt='')
      section.index__section.index__section--default
        .container
          .index-publications
            .index-publications__top
              .index-publications__top-left
                h2.index-publications__title
                  |Публикации ИБИ
                .index-publications__control.slider-control.slider-control--desktop
                  .slider-control__item
                    .button-arrow.button-arrow--blue-light.button-arrow--left
                      .button-arrow__button(data-slider-button='7')
                        +svg-arrow.button-arrow__svg
                  .slider-control__item
                    .button-arrow.button-arrow--blue-light.button-arrow.button-arrow--right
                      .button-arrow__button(data-slider-button='8')
                        +svg-arrow.button-arrow__svg
              .index-publications__top-right
                .mission__missions-links-container
                  a.mission__missions-links-link(href='#')
                    +svg-link.mission__missions-links-svg.button-svg
                    .mission__missions-links-text
                      span.mission__missions-links-span 
                        |Все публикации 
            .index-publications__slider
              .swiper-container.swiper-container--visible.swiper-container--slide-width-auto(data-slider-id='5' data-slider-prev='7' data-slider-next='8')
                .swiper-wrapper
                  - for (let i=0; i<9; i++)
                    .swiper-slide
                      a.card(href='#')
                        .card__top
                          h3.card__title
                            |Обучение Strategic Implant в Новосибирске
                          p.card__text
                            |IBI Lab — современная цифровая зуботехническая лаборатория на базе Института Базальной Имплантации.
                        .card__bottom
                          .card__row
                            .card__col
                              .tags
                                ul.tags__list
                                  li.tags__item
                                    .tags__tag
                                      |#кейсы
                                  li.tags__item
                                    .tags__tag
                                      |#исследования
                                  li.tags__item
                                    .tags__tag
                                      |#центр
                              .card__date
                                |28 января 2021
                            .card__col
                              .card__image.mission__missions-links-link
                                +svg-link(class='card__svg button-svg')
            .index-publications__link
              .mission__missions-links-container
                a.mission__missions-links-link(href='#')
                  +svg-link.mission__missions-links-svg.button-svg
                  .mission__missions-links-text
                    span.mission__missions-links-span 
                      |Все публикации
      section.index__section.index__section--default
        .container
          .index-news
            .index-news__row
              .index-news__col
                h2.index-news__title
                  |Новости
                .index-news__link
                  .mission__missions-links-container
                    a.mission__missions-links-link(href='#')
                      +svg-link.mission__missions-links-svg.button-svg
                      .mission__missions-links-text
                        span.mission__missions-links-span 
                          |Все новости
              .index-news__col
                h2.index-news__title.index-news__title--mobile
                  |Новости
                .index-news__slider
                  .swiper-container.swiper-container--visible.swiper-container--slide-width-auto.swiper-container--slide-height-max(data-slider-id='6')
                    .swiper-wrapper
                      - for (let i=0; i<9; i++)
                        .swiper-slide
                          a.card-news-mobile(href='#')
                            .card-news-mobile__top
                              .card-news-mobile__date
                                |3 ноября 2020
                              h3.card-news-mobile__title
                                |Обучение Strategic Implant в Новосибирске
                            .card-news-mobile__bottom
                              .card-news-mobile__row
                                .card-news-mobile__col
                                  .card-news-mobile__image
                                    img.card-news-mobile__img(src=`assets/images/index/news-${i % 3 + 1}.jpg` alt='')
                                .card-news-mobile__col
                                  .card-news-mobile__image
                                    +svg-link(class='card__svg')
                    .index-publications__link
                      .mission__missions-links-container
                        a.mission__missions-links-link(href='#')
                          +svg-link.mission__missions-links-svg.button-svg
                          .mission__missions-links-text
                            span.mission__missions-links-span 
                              |Все новости
                .index-news__list
                  ul.index-news__list-no-mb
                    include ../components/_news-list-card
                    include ../components/_news-list-card
                    include ../components/_news-list-card
                  .index-publications__link
                      .mission__missions-links-container
                        a.mission__missions-links-link(href='#')
                          +svg-link.mission__missions-links-svg.button-svg
                          .mission__missions-links-text
                            span.mission__missions-links-span 
                              |Все новости
                  //- - for (let i=0; i<3; i++)
                  //-   .index-news__list-item
                  //-     a.card-news(href='#')
                  //-       .card-news__row
                  //-         .card-news__col
                  //-           .card-news__content-row
                  //-             .card-news__content-col
                  //-               .card-news__date
                  //-                 |3 ноября 2020
                  //-             .card-news__content-col
                  //-               .card-news__image
                  //-                 img.card-news__img(src=`assets/images/index/news-${i % 3 + 1}.jpg` alt='')
                  //-               h3.card-news__title
                  //-                 |Обучение Strategic Implant в Новосибирске
                  //-         .card-news__col
                  //-           .card-news__image.mission__missions-links-link
                  //-             +svg-link(class='card__svg button-svg')

block footer
  +footer({
    linkLogo: false
  })
