extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


  
block content
  section.section.section--gradient
    .row
      .row__col
        .section__inner.section__inner--top
          .nav
            .nav__container
              nav.nav__nav.my-sticky
                ul.nav__list.prosthetics-nav
                  .mission__spoiler(data-spoiler-group='1')
                    li.nav__item.mission__spoiler-button.news-spoiler__button
                      a.nav__link(href='#')
                        |Протезирование
                      .news-spoiler__image
                        +arrow-svg('header__drop-svg')
                    .mission__spoiler-drop.news-spoiler__drop
                      nav.news-spoiler__nav.prosthetics-spoiler__drop
                        ul
                          li.news-spoiler__nav-item
                            a.nav__link(href='#')
                              |Коронки циркониевые
                          li.news-spoiler__nav-item.nav-drop-item--active
                            a.nav__link(href='#')
                              |Оклюзивные накладки
                          each item in ['Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики', 'Коронки металлокерамические', 'Коронки циркониевые KATANA', 'Коронки циркониевые под нанесение керамики', 'Коронки циркониевые Prettau', 'Винир (люминир)', 'Накладкициркониевые KATANA', 'Безметалловые вкладки']
                            li.news-spoiler__nav-item
                              a.nav__link(href='#')
                                |#{item}
                  .mission__spoiler(data-spoiler-group='2')
                    li.nav__item.mission__spoiler-button.news-spoiler__button
                      a.nav__link(href='#')
                        |Диагностика
                      .news-spoiler__image
                        +arrow-svg('header__drop-svg')
                    .mission__spoiler-drop.news-spoiler__drop
                      nav.news-spoiler__nav.prosthetics-spoiler__drop
                        ul
                          each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                            li.news-spoiler__nav-item
                              a.nav__link(href='#')
                                |#{item}
                  .mission__spoiler(data-spoiler-group='3')
                    li.nav__item.mission__spoiler-button.news-spoiler__button
                      a.nav__link(href='#')
                        |Профилактика
                      .news-spoiler__image
                        +arrow-svg('header__drop-svg')
                    .mission__spoiler-drop.news-spoiler__drop
                      nav.news-spoiler__nav.prosthetics-spoiler__drop
                        ul
                          each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                            li.news-spoiler__nav-item
                              a.nav__link(href='#')
                                |#{item}
                  .mission__spoiler(data-spoiler-group='4')
                    li.nav__item.mission__spoiler-button.news-spoiler__button
                      a.nav__link(href='#')
                        |Удаление зубов
                      .news-spoiler__image
                        +arrow-svg('header__drop-svg')
                    .mission__spoiler-drop.news-spoiler__drop
                      nav.news-spoiler__nav.prosthetics-spoiler__drop
                        ul
                          each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                            li.news-spoiler__nav-item
                              a.nav__link(href='#')
                                |#{item}
                  .mission__spoiler(data-spoiler-group='5')
                    li.nav__item.mission__spoiler-button.news-spoiler__button
                      a.nav__link(href='#')
                        |Лечение зубов
                      .news-spoiler__image
                        +arrow-svg('header__drop-svg')
                    .mission__spoiler-drop.news-spoiler__drop
                      nav.news-spoiler__nav.prosthetics-spoiler__drop
                        ul
                          each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                            li.news-spoiler__nav-item
                              a.nav__link(href='#')
                                |#{item}
      .row__col
        .section__inner--top
          .container.prosthetics
            h1.title
              |Окклюзионные накладки
            .mission__spoiler.news-spoiler
              .mission__spoiler-button.news-spoiler__button
                h5.mission__spoiler-title.prosthetics-spoiler
                  |Окклюзионные накладки
                  //- +arrow-link-svg('prosthetics-link-svg')
                .news-spoiler__image
                  +arrow-svg('header__drop-svg')
              .mission__spoiler-drop.news-spoiler__drop
                nav.news-spoiler__nav.prosthetics-spoiler__drop
                  ul
                    each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                      li.news-spoiler__nav-item
                        a.nav__link(href='#')
                          |#{item}
            .prosthetics-img
              .prosthetics-img__price 37 500 ₽
              img(src="assets/images/prosthetics-img.jpg", alt="")
            .single-news__body
              blockquote.single-news__blockquote Lorem, ipsum dolor sit amet consectetur adipisicing
              .single-news__txt
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi excepturi doloribus odit ullam adipisci, facilis autem quidem exercitationem suscipit impedit quos, fuga necessitatibus, ea natus iste sapiente inventore debitis quibusdam!
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit placeat necessitatibus ratione aut officia quam totam, nam tempora sequi architecto cupiditate laboriosam velit nisi molestias esse dolore soluta voluptatibus ad.
            .news-subscribe.member-page-ask.transfer-consult.prosthetics-ask
              h2.news-subscribe__title Получить персональную консультацию бесплатно
              .block-photo
                .block-photo__image
              include ../components/form-add-file