extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


  
block content
  section.section.section--gradient
    .row
      .row__col.sidebar
        .sidebar__container
          .sidebar__sidebar
            .sidebar__sidebar-inner
              ul.nav__list
                .sidebar-nav-spoiler
                  li.nav__item.sidebar-nav-spoiler--current.sidebar-nav-spoiler__button
                    .nav__link
                      |Протезирование
                    .sidebar-nav-spoiler__arrow
                      +arrow-svg
                  .sidebar-nav-spoiler__drop
                    ul
                      each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики', 'Коронки металлокерамические', 'Коронки циркониевые KATANA', 'Коронки циркониевые под нанесение керамики', 'Коронки циркониевые Prettau', 'Винир (люминир)', 'Накладкициркониевые KATANA', 'Безметалловые вкладки']
                        li.sidebar-nav-spoiler__drop-item
                          a.nav__link(href='#')
                            |#{item}
                .sidebar-nav-spoiler
                  li.nav__item.sidebar-nav-spoiler__button
                    .nav__link
                      |Диагностика
                    .sidebar-nav-spoiler__arrow
                      +arrow-svg
                  .sidebar-nav-spoiler__drop
                    ul
                      each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                        li.sidebar-nav-spoiler__drop-item
                          a.nav__link(href='#')
                            |#{item}
                .sidebar-nav-spoiler
                  li.nav__item.sidebar-nav-spoiler__button
                    .nav__link
                      |Профилактика
                    .sidebar-nav-spoiler__arrow
                      +arrow-svg
                  .sidebar-nav-spoiler__drop
                    ul
                      each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                        li.sidebar-nav-spoiler__drop-item
                          a.nav__link(href='#')
                            |#{item}
                .sidebar-nav-spoiler
                  li.nav__item.sidebar-nav-spoiler__button
                    .nav__link
                      |Удаление зубов
                    .sidebar-nav-spoiler__arrow
                      +arrow-svg
                  .sidebar-nav-spoiler__drop
                    ul
                      each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                        li.sidebar-nav-spoiler__drop-item
                          a.nav__link(href='#')
                            |#{item}
                .sidebar-nav-spoiler
                  li.nav__item.sidebar-nav-spoiler__button
                    .nav__link
                      |Лечение зубов
                    .sidebar-nav-spoiler__arrow
                      +arrow-svg
                  .sidebar-nav-spoiler__drop
                    ul
                      each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                        li.sidebar-nav-spoiler__drop-item
                          a.nav__link(href='#')
                            |#{item}
      .row__col
        .section__inner--top
          .container.prosthetics
            h1.title
              |Окклюзионные накладки
            .prosthetics-img
              .prosthetics-img__price 37 500 ₽
              img(src="assets/images/prosthetics-img.jpg", alt="")
            .single-news__body
              blockquote.single-news__blockquote Это новейший вид протезирования зубов, который стал доступен благодаря использованию современных оттискных масс, оптического увеличения и специальных материалов для протезирования.
              .single-news__txt
                p Это новейший вид протезирования зубов, который стал доступен благодаря использованию современных оттискных масс, оптического увеличения и специальных материалов для протезирования.
                p Микропротезирование применяется для восстановления разрушенных зубов, когда часть зуба еще остается неповрежденной. То есть, пломбу ставить уже нежелательно (зуб поврежден довольно сильно), а восстановление коронкой слишком радикальный шаг.
                p К примеру, участок зуба имеет откол, кариес или зуб просто стерся. Возможно, было проведено лечение каналов зуба, после чего часть зуба была утрачена. Здесь наиболее правильным видом протезирования является микропротезирование. Это позволит провести восстановление зуба, без его полной обточки и покрытием коронкой. Если разрушенный зуб живой, его можно спасти и восстановить используя особые виды накладок (окклюзионные накладки In lay, on lay, over lay). Даже не живой зуб возможно сохранить, используя керамические реставрации (окклюзионные накладки), замещая ими утраченные ткани зуба.
                p Микропротезирование позволяет минимально обточить только дефект зуба, сохраняя целостность не поврежденных областей. Все, что ранее восстанавливалось пломбами, сегодня возможно реконструировать при помощи микропротезирования и это обеспечит высокую прочность, долговечность и надежную герметизацию зуба. Риск появления кариеса на стыке между накладкой или вкладкой и зубом сведен к минимуму. Вкладка/накладка надежно защищает зуб от дальнейшего разрушения.
                p Для этого используются специальные материалы: IPS e.max Press (дисиликат лития), стеклокерамика или реставрации на рефракторной модели . Также применяются  золотосодержащие сплавы.
                p Кроме специальных материалов врач использует особую технику препарирования (подготовки) зуба. Применяются специальные боры, оптическое увеличение и высокоточные оттискные массы для микропротезирования.
                p В результате зубной техник изготавливает микро реставрации, которые идеально стыкуются с восстанавливаемым зубом и проводится адгезивная фиксация изготовленной реставрации. Окклюзионная накладка или вкладка точно повторяет форму дефекта и идеально прилегает к тканям зуба при фиксации.
                p Микропротезирование дает возможность наиболее индивидуально и правильно восстановить функцию и эстетику зубов, применяя миниинвазивное решение по восстановлению каждого зуба. Срок службы таких реставраций наиболее длителен.
                p Обычные пломбы, при правильной установке служат около 5-6 лет, после чего меняется структура самого материала и возникают дефекты прилегания пломбы. При использовании накладок или керамических вкладок срок службы таких изделий будет в два, три раза выше самых лучших установленных пломб.
                p Такой метод идеально подходит для восстановления боковых зубов, а для передних используются виниры.
            .news-subscribe.prosthetics-ask
              h2.form__title.mb80-60 Получить персональную стратегию имплантации
              .calc-wrapper.mb80-60
                include ../components/calculator
              include ../components/form-2col-add-file
