extends ../layouts/master.pug

block header
block footer

block content
  section.section.section--gradient
    .row
      .row__col
        .section__inner.section__inner--top
          .nav
            .nav__container
              nav.nav__nav.my-sticky



                ul.nav__list.prosthetics-nav


                  .mission__spoiler(data-spoiler-group='1')

                    li.nav__item.nav__item--active.mission__spoiler-button.news-spoiler__button
                      a.nav__link(href='#')
                        |Протезирование
                      .news-spoiler__image
                        +arrow-svg('header__drop-svg')

                    .mission__spoiler-drop.news-spoiler__drop

                      nav.news-spoiler__nav.prosthetics-spoiler__drop
                        ul
                          each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики', 'Коронки металлокерамические', 'Коронки циркониевые KATANA', 'Коронки циркониевые под нанесение керамики', 'Коронки циркониевые Prettau', 'Винир (люминир)', 'Накладкициркониевые KATANA', 'Безметалловые вкладки']
                            li.news-spoiler__nav-item
                              a.nav__link(href='#')
                                |#{item}

                  .sidebar-nav-spoiler
                    li.nav__item.sidebar-nav-spoiler--current.sidebar-nav-spoiler__button
                      a.nav__link(href='#')
                        |Диагностика
                      .sidebar-nav-spoiler__arrow
                        +arrow-svg
                    .sidebar-nav-spoiler__drop
                      ul.sidebar-nav-spoiler__drop-inner
                        each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                          li.sidebar-nav-spoiler__drop-item
                            a.nav__link(href='#')
                              |#{item}
                  
                  .sidebar-nav-spoiler
                    li.nav__item.sidebar-nav-spoiler__button
                      a.nav__link(href='#')
                        |Диагностика
                      .sidebar-nav-spoiler__arrow
                        +arrow-svg
                    .sidebar-nav-spoiler__drop
                      ul.sidebar-nav-spoiler__drop-inner
                        each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                          li.sidebar-nav-spoiler__drop-item
                            a.nav__link(href='#')
                              |#{item}

                  .sidebar-nav-spoiler
                    li.nav__item.sidebar-nav-spoiler__button
                      a.nav__link(href='#')
                        |Диагностика
                      .sidebar-nav-spoiler__arrow
                        +arrow-svg
                    .sidebar-nav-spoiler__drop
                      ul.sidebar-nav-spoiler__drop-inner
                        each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                          li.sidebar-nav-spoiler__drop-item
                            a.nav__link(href='#')
                              |#{item}

                  .sidebar-nav-spoiler
                    li.nav__item.sidebar-nav-spoiler__button
                      a.nav__link(href='#')
                        |Диагностика
                      .sidebar-nav-spoiler__arrow
                        +arrow-svg
                    .sidebar-nav-spoiler__drop
                      ul.sidebar-nav-spoiler__drop-inner
                        each item in ['Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладкициркониевые Prettau', 'Накладкициркониевые под нанесение керамики']
                          li.sidebar-nav-spoiler__drop-item
                            a.nav__link(href='#')
                              |#{item}

      .row__col
        .section__inner--top
          .container.prosthetics
            h1.title
              |Протезирование