button.prev
  |#{'<'}
button.next
  |#{'>'}

-
  var count = 5
  var css = '.swiper-slide-active { background-color: coral; }'

style= css

.a(style='width: calc(100vw / 3);')
  .swiper-wrapper(style='height: auto;')
    - for (let i = 0; i < count; i++)
      .swiper-slide(style='border: 1px solid black; width: calc(100vw / 3);') a #{i + 1}
.b
  .swiper-wrapper(style='height: auto;')
    - for (let i = 0; i < count; i++)
      .swiper-slide(style='border: 1px solid black;') b #{i + 1}