extends ../layouts/master.pug

block header
block footer

block content
  //- each i in [1]
  //-   .tabs
  //-     .tabs__container
  //-       .tabs__background
  //-       .tabs__list
  //-         - for (let i = 0; i < 30; i++)
  //-           .tabs__item(class = (i === 15) ? 'tabs__item--active' : '')
  //-             |test
  section.index__section.index__section--top
    
    .row
      .row__col
      .row__col
        .container
          .calc
            .calc__top
              .calc__ttl Нажмите на зуб несколько раз, чтобы выбрать степень разрушения
              .calc__instruction
                img(src="assets/images/calc/instruction-1.png", alt="")
                img(src="assets/images/calc/instruction-2.png", alt="")
            .calc__teeth
              .calc__left-col
                .calc__bracket
                .calc__txt Правая часть
              .calc__teeth-box
                //- img(src="assets/images/calc/teeth.png", alt="")
                .calc__teeth-row
                  - for (let i=0; i<17; i++)
                    button.tooth-button
                      img.tooth-removed(src=`assets/images/calc/removed${i}.png`, alt="")
                      img.tooth-destroyed(src=`assets/images/calc/destroyed${i}.png`, alt="")
                      img.tooth-clean(src=`assets/images/calc/teeth${i}.png`, alt="")
                .calc__teeth-row
                  - for (let i=17; i<33; i++)
                    button.tooth-button
                      img.tooth-removed(src=`assets/images/calc/removed${i}.png`, alt="")
                      img.tooth-destroyed(src=`assets/images/calc/destroyed${i}.png`, alt="")
                      img.tooth-clean(src=`assets/images/calc/teeth${i}.png`, alt="")
                
              .calc__right-col
                .calc__txt Левая часть
                .calc__bracket
            ul.calc__list
              li.calc__list-destroyed
                img(src="assets/images/calc/calc-list-ico.png", alt="")
                .calc__list-circle 11
                |Зуб разрушен
              li.calc__list-destroyed
                img(src="assets/images/calc/calc-list-ico.png", alt="")
                .calc__list-circle 11
                |Зуб разрушен
              li.calc__list-removed
                img(src="assets/images/calc/calc-list-ico.png", alt="")
                .calc__list-circle 11
                |Зуб отсутствует
              li.calc__list-removed
                img(src="assets/images/calc/calc-list-ico.png", alt="")
                .calc__list-circle 11
                |Зуб отсутствует


