extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


block content
  section.section.section--gradient
      .row
        .row__col
          .section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list.prosthetics-nav
                    each item in ['Strategic Implant']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                    li.mission__spoiler(data-spoiler-group='1')
                      .nav__item.nav__item--active.mission__spoiler-button.news-spoiler__button
                        a.nav__link(href='#')
                          |Обучение
                        .news-spoiler__image
                          +arrow-svg('header__drop-svg')
                      .mission__spoiler-drop.news-spoiler__drop
                        nav.news-spoiler__nav.prosthetics-spoiler__drop
                          ul
                            li.news-spoiler__nav-item.nav-drop-item--active
                              a.nav__link(href='#')
                                |Хирургический этап
                            each item in ['Ортопедический этап', 'Зуботехнический этап']
                              li.news-spoiler__nav-item
                                a.nav__link(href='#')
                                  |#{item}
                    each item in ['Мероприятия', 'Библиотека', 'Юридическая помощь']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
        .row__col
          .section__inner--top
            .container.training-page
              h1.title
                |Хирургический этап
              .mission__spoiler.news-spoiler
                .mission__spoiler-button.news-spoiler__button
                  h5.mission__spoiler-title.prosthetics-spoiler
                    |Обучение
                    +arrow-link-svg('prosthetics-link-svg')
                  .news-spoiler__image
                    +arrow-svg('header__drop-svg')
                .mission__spoiler-drop.news-spoiler__drop
                  nav.news-spoiler__nav.prosthetics-spoiler__drop.training-drop
                    ul
                      each item in ['Хирургический этап', 'Ортопедический этап', 'Зуботехнический этап']
                        li.news-spoiler__nav-item
                          a.nav__link(href='#')
                            |#{item}
                  nav.news-spoiler__nav
                    ul
                      each item in ['Мероприятия', 'Библиотека', 'Юридическая помощь']
                        li.news-spoiler__nav-item
                          a.nav__link(href='#')
                            |#{item}
              //- .section__block--small
              h2.training-page-title__first Теоретическая часть
              .single-news__txt
                ul.last-ul
                  li Разберём понятие базальной, кортикальной и губчатой кости
                  li Научимся находить и определять стратегические зоны различных видов костной ткани
                  li Обозначим четкие физиологические и функциональные отличия между  кортикальной, базальной и крестальной (губчатой) костью
                  li Приведем к пониманию  принципов  использования той или иной костной структуры с целью установки различных типов базальных имплантатов
                  li Научим безошибочно находить стратегические анатомические области для установки базальных имплантатов
                  li На Верхней челюсти разберем крыловидно-небно багорную область, область небной пластинки, область дна нижнего носового хода
                  li На Нижней челюсти познакомимся с подбородочной областью, областью ментального отверстия (премоляров), область моляров и нижнечелюстного канала
                  li Избежим осложнений! Обозначим топографию и анатомию магистральных сосудов и нервов верхней и нижней челюсти
                  li Научим избегать контакта с опасными анатомическими образованиями
                  li Перейдём к разбору самих имплантатов: Устройство и типы базальных имплантатов
                  li Подробно разберемся в конструкциях и дизайне базальных имплантатов, для чего, почему и как правильно их использовать
                  li Как фиксируются базальные имплантаты? Понятие остеофиксации и остеоинтегрпции имплантатов
                  li В чем разница, какие возможности даёт тот и другой метод. Сможем уверенно планировать установку базальных имплантатов в зависимости от типа имплантата
                  li Как правильно устанавливать базальные имплантаты? Подробно разберём хирургические стратегии по восстановлению двух челюстей, челюсти,  сегмента и установке единичных имплантатов.  Разберем 14 методов установки базальных имплантатов для верхней и нижней челюсти утвержденные ассоциацией  IIF. После разбора данного раздела сможем понять как правильно устанавливать базальные имплантаты в зависимости от планируемой области восстановления зубов и типа конструкции. Как установить  базальные имплантаты чтобы они получили ожидаемую стабилизацию и долгосрочный прогноз
                  li Сможем правильно планировать операцию по имплантации и держать ход лечения под полным контролем
                  li Перейдем к аспектам нагрузок базальной хирургии. Рассмотрим Понятие и создание правильной немедленной нагрузки. Что происходит когда немедленная нагрузка неправильная или отсутствует. Каким образом распределяется нагрузка и как ее создавать.
              h2.training-page-title Практическая часть
              .single-news__txt
                p.training-page-subtitle Практическая часть будет включать установку 20-ти имплантатов! Установка 20 имплантатов обеспечит реальное представление о системе.
                ul.last-ul
                  li Обучения установки базальных имплантатов проходит на композитных 3D моделях реальных челюстей, полученных путём создания STL файлов. Никаких приблизительных штампованных копий.
                  li Работаем с реальными клиническими случаями полученными через компьютерную томографию и 3D печать.
                  li Планируем операцию по компьютерной томографии, переходим к отработке хирургических приемов уже на ее макете.
              .news-subscribe.member-page-ask.display-flex
                h2.news-subscribe__title.member-page-ask__title.form-title Оставить заявку на обучение
                include ../components/right-form