extends ../layouts/master.pug

include ../components/_header.pug
include ../components/_footer.pug



block header
  +header


block content
  section.section.section--gradient
      .row
        .row__col
          .section__inner--top
            .nav
              .nav__container
                nav.nav__nav.my-sticky
                  ul.nav__list.prosthetics-nav
                    each item in ['Strategic Implant']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
                    li.mission__spoiler(data-spoiler-group='1')
                      .nav__item.nav__item--active.mission__spoiler-button.news-spoiler__button
                        a.nav__link(href='#')
                          |Обучение
                        .news-spoiler__image
                          +arrow-svg('header__drop-svg')
                      .mission__spoiler-drop.news-spoiler__drop
                        nav.news-spoiler__nav.prosthetics-spoiler__drop
                          ul
                            each item in ['Хирургический этап', 'Ортопедический этап', 'Зуботехнический этап']
                              li.news-spoiler__nav-item
                                a.nav__link(href='#')
                                  |#{item}
                    each item in ['Мероприятия', 'Библиотека', 'Юридическая помощь']
                      li.nav__item
                        a.nav__link(href='#')
                          |#{item}
        .row__col
          .section__inner--top
            .container.training-page
              h1.title
                |Хирургический этап
              .mission__spoiler.news-spoiler
                .mission__spoiler-button.news-spoiler__button
                  h5.mission__spoiler-title.prosthetics-spoiler
                    |Обучение
                    +arrow-link-svg('prosthetics-link-svg')
                  .news-spoiler__image
                    +arrow-svg('header__drop-svg')
                .mission__spoiler-drop.news-spoiler__drop
                  nav.news-spoiler__nav.prosthetics-spoiler__drop.training-drop
                    ul
                      each item in ['Хирургический этап', 'Ортопедический этап', 'Зуботехнический этап']
                        li.news-spoiler__nav-item
                          a.nav__link(href='#')
                            |#{item}
                  nav.news-spoiler__nav
                    ul
                      each item in ['Мероприятия', 'Библиотека', 'Юридическая помощь']
                        li.news-spoiler__nav-item
                          a.nav__link(href='#')
                            |#{item}
              //- .section__block--small
              h2.training-page-title Теоретическая часть
              .single-news__txt
                ul.last-ul
                  li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque perspiciatis quia officia consequuntur. Expedita facere exercitationem molestias vitae tenetur molestiae?
                  li Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, rem
                  li Lorem ipsum dolor sit amet, consectetur adipisicing
                  li Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, rem
                  li Lorem ipsum dolor sit amet, consectetur adipisicing
                  li Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, rem
              h2.training-page-title Практическая часть
              .single-news__txt
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro iure, sed veritatis odio amet omnis modi rem cumque blanditiis hic consequuntur architecto praesentium a reiciendis, asperiores velit facilis voluptatibus fugit.
                ul.last-ul
                  li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque perspiciatis quia officia consequuntur. Expedita facere exercitationem molestias vitae tenetur molestiae?
                  li Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, rem
                  li Lorem ipsum dolor sit amet, consectetur adipisicing
                  li Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, rem
                  li Lorem ipsum dolor sit amet, consectetur adipisicing
                  li Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, rem
              .news-subscribe.member-page-ask.display-flex
                h2.news-subscribe__title.member-page-ask__title Оставить заявку на обучение
                include ../components/right-form