include ./_mobile-header.pug

mixin header(opts={linkLogo: true})
  header.header
    .header__header
      .container
        .header__inner
          .header__row
            .header__col
              .header__container
                .header__logo
                  if (opts.linkLogo)
                    a.header__logo-link(href='#')
                      +svg-logo.header__logo-svg
                  else
                    .header__logo-link
                      +svg-logo.header__logo-svg
            .header__col
              .header__panel
                .header__panel-item.header-menu
                  .header__items.header__container
                    .header__items-item
                      .header__drop
                        .header__drop-button(data-modal-button='1')
                          .header__drop-text.header__text
                            |Базальная имплантация
                          .header__drop-image
                            +svg-arrow.header__drop-svg
                    .header__items-item
                      .header__drop
                        .header__drop-button(data-modal-button='2')
                          .header__drop-text.header__text
                            |Услуги
                          .header__drop-image
                            +svg-arrow.header__drop-svg
                    .header__items-item
                      a.header__link.header__text(href='#')
                        |До и После
                .header__panel-item
                  .header__items.header__items--large.header__container
                    .header__items-item
                      .header__phone.header__phone-head
                        a.header__phone-call.header__phone-call-head.header__text.callback-button(href='#')
                          |Записаться
                          br
                          |на консультацию
                        a.header__phone-link.header__text.header__link(href='tel:84994906349')
                          |8 499 490 63 49
                    .header__items-item.header-lang-drop
                      .header__drop.mission__spoiler
                        .header__drop-button.mission__spoiler-button
                          .header__drop-text.header__text.mission__spoiler-title
                            |Ru
                          .header__drop-image.news-spoiler__image
                            +svg-arrow.header__drop-svg
                        .header__drop-dropdown.mission__spoiler-drop
                          button.header__drop-text.header__text
                            |En

                    .header__items-item.header__items-item--mobile
                      .header__button
                        .header__button-button(data-modal-button='3')
                          .header__button-image
    .header__modals
      .header-modal.header-modal--desktop(data-modal-id='1')
        .container
          .header-modal__row
            .header-modal__col.header-modal__col--highlight--main
              .header-modal__inner
                ul.header-modal__list
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Метод
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Преимущества
            .header-modal__col.header-modal__col--highlight--main
              .header-modal__inner
                ul.header-modal__list
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Этапы имплантации
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Иплантаты Strategic Implant
            .header-modal__col.header-modal__col--highlight--main
              .header-modal__inner
                ul.header-modal__list
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Стоимость
      .header-modal.header-modal--desktop(data-modal-id='2')
        .container
          .header-modal__row
            .header-modal__col.header-modal__col--highlight--main
              .header-modal__inner
                ul.header-modal__list
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href="" data-tabs-id='1' data-tabs-button='1' data-tabs-active)
                      |Диагностика
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href="" data-tabs-id='1' data-tabs-button='2')
                      |Профилактика
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href="" data-tabs-id='1' data-tabs-button='3')
                      |Протезирование
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href="" data-tabs-id='1' data-tabs-button='4')
                      |Удаление зубов
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link.no-pointer(href="" data-tabs-id='1' data-tabs-button='5')
                      |Лечение зубов
            .header-modal__col.header-modal__col--highlight--gray-border
              .header-modal__inner
                ul.header-modal__list.header-modal__list--small.header-modal__list--tabs(data-tabs-id='1' data-tabs-tab='1' data-tabs-active)
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Оклюзивные накладки
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Культевая вкладка
                ul.header-modal__list.header-modal__list--small.header-modal__list--tabs(data-tabs-id='1' data-tabs-tab='2')
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Оклюзивные накладки
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Культевая вкладка
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Накладки  циркониевые Prettau
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Накладки циркониевые под нанесение керамики
                ul.header-modal__list.header-modal__list--small.header-modal__list--tabs(data-tabs-id='1' data-tabs-tab='3')
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Оклюзивные накладки
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Культевая вкладка
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Накладки  циркониевые Prettau
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Накладки циркониевые под нанесение керамики
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки металлокерамические
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые KATANA
                ul.header-modal__list.header-modal__list--small.header-modal__list--tabs(data-tabs-id='1' data-tabs-tab='4')
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые
                ul.header-modal__list.header-modal__list--small.header-modal__list--tabs(data-tabs-id='1' data-tabs-tab='5')
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Оклюзивные накладки
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Культевая вкладка
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Накладки  циркониевые Prettau
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Накладки циркониевые под нанесение керамики
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
            .header-modal__col.header-modal__col--highlight--gray-border
              .header-modal__inner
                ul.header-modal__list.header-modal__list--small.header-modal__list--tabs(data-tabs-id='1' data-tabs-tab='1' data-tabs-active)
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые под нанесение керамики
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые Prettau
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Винир (люминир)
                ul.header-modal__list.header-modal__list--small.header-modal__list--tabs(data-tabs-id='1' data-tabs-tab='2')
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые под нанесение керамики
                ul.header-modal__list.header-modal__list--small.header-modal__list--tabs(data-tabs-id='1' data-tabs-tab='3')
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые под нанесение керамики
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые Prettau
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Винир (люминир)
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Накладки циркониевые KATANA
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Безметалловые вкладки
                ul.header-modal__list.header-modal__list--small.header-modal__list--tabs(data-tabs-id='1' data-tabs-tab='4')
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые под нанесение керамики
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые Prettau
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Винир (люминир)
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Накладки циркониевые KATANA
                ul.header-modal__list.header-modal__list--small.header-modal__list--tabs(data-tabs-id='1' data-tabs-tab='5')
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые под нанесение керамики
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Коронки циркониевые Prettau
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                      |Винир (люминир)
      .header-modal.header-modal--desktop(data-modal-id='3')
        .container
          .header-modal__row
            .header-modal__col.header-modal__col--highlight--main
              .header-modal__inner
                ul.header-modal__list
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Гарантии
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Способы оплаты
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Трансфер
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Вопрос–ответ
            .header-modal__col.header-modal__col--highlight--main
              .header-modal__inner
                ul.header-modal__list
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Стоимость
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Лаборатория
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Публикации
            .header-modal__col.header-modal__col--highlight--main
              .header-modal__inner
                ul.header-modal__list
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |О нас
                  li.header-modal__list-item
                    ul.header-modal__list.header-modal__list--small
                      li.header-modal__list-item
                        a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                          |Миссия и ценности
                      li.header-modal__list-item
                        a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                          |Наша команда
                      li.header-modal__list-item
                        a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                          |Вакансии
                      li.header-modal__list-item
                        a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                          |Новости
                      li.header-modal__list-item
                        a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                          |Контакты
            .header-modal__col.header-modal__col--highlight--main
              .header-modal__inner
                ul.header-modal__list
                  li.header-modal__list-item
                    a.header-modal__text.header-modal__link(href='#')
                      |Специалистам
                  li.header-modal__list-item
                    ul.header-modal__list.header-modal__list--small
                      li.header-modal__list-item
                        a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                          |Обучение
                      li.header-modal__list-item
                        a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                          |Бибилотека
                      li.header-modal__list-item
                        a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                          |Юридическая помошь
                      li.header-modal__list-item
                        a.header-modal__text.header-modal__text--small.header-modal__link(href='#')
                          |Концепция Strategic Implant
      .header-modal.header-modal--mobile(data-modal-id='3')
        .container
          .header-modal__row.header-modal__row--mobile
            .header-modal__col
              .header__phone
                a.header__phone-link.header__text.header__link(href='#')
                  |8 499 490 63 49
            .header-modal__col
              .header__drop.mission__spoiler
                .header__drop-button.mission__spoiler-button
                  .header__drop-text.header__text.mission__spoiler-title
                    |Ru
                  .header__drop-image.news-spoiler__image
                    +svg-arrow.header__drop-svg
                .header__drop-dropdown.mission__spoiler-drop
                  button.header__drop-text.header__text
                    |En
        .header-modal__content 
          ul.header-section
            li.header-section__item
                .header__drop.header-section__button
                  .header__drop-button
                    .header__drop-text.header__text
                      |Базальная имплантация
                    .header__drop-image
                      +svg-arrow.header__drop-svg
                .header-section__dropdown 
                  each section in ['Метод', 'Преимущество', 'Этапы имплантации', 'Имплантаты Strategic Implant ', 'Стоимость']
                    .header-section__section 
                      .header__drop.header-section__section-link
                        .header__drop-button
                          a.header__drop-text.header__text(href="")
                            |#{section}
                          
            li.header-section__item
              .header__drop.header-section__button
                .header__drop-button
                  .header__drop-text.header__text
                    |Услуги
                  .header__drop-image
                    +svg-arrow.header__drop-svg
              .header-section__dropdown 
                each section in ['Протезирование', 'Профилактика', 'Протезирование', 'Удаление зубов', 'Лечение зубов']
                  .header-section__section
                    .header__drop.header-section__section-button
                      .header__drop-button
                        .header__drop-text.header__text
                          |#{section}
                        .header__drop-image
                          +svg-arrow.header__drop-svg
                    .header-section__section-dropdown
                      a.header-section__btn-link(href="")
                        +svg-link
                        |Перейти в раздел
                      ul.header-section__links 
                        each link in ['Удаление зубов', 'Лечение зубов', 'Коронки циркониевые', 'Оклюзивные накладки', 'Культевая вкладка', 'Накладки циркониевые Prettau', 'Накладки циркониевые под нанесение керамики', 'Коронки металлокерамические', 'Коронки циркониевые KATANA', 'Коронки циркониевые под нанесение керамики', 'Коронки циркониевые Prettau', 'Винир (люминир)', 'Накладки циркониевые KATANA', 'Безметалловые вкладки']
                          li.header-section__links-item
                            a.header__drop-button(href="#")
                              .header__drop-text.header__text
                                |#{link}
                      
            each item in ['До и После', 'О нас', 'Специалистам']
              li.header-section__item
                .header__drop.header-section__button
                  .header__drop-button
                    .header__drop-text.header__text
                      |#{item}
                    .header__drop-image
                      +svg-arrow.header__drop-svg
                .header-section__dropdown
                  a.header-section__btn-link(href="")
                    +svg-link
                    |Перейти в раздел
                  each section in ['Миссия и ценности', 'Наша команда', 'Вакансии', 'Новости', 'Контакты']
                    .header-section__section 
                      .header__drop.header-section__section-link
                        .header__drop-button
                          .header__drop-text.header__text
                            |#{section}
                      
        .header-modal__nav
          .container
            ul.header-modal__nav-links 
              each link in ['Гарантии', 'Способы оплаты', 'Трансфер', 'Вопрос–ответ', 'Стоимость', 'Лаборатория', 'Публикации',] 
                li.header-modal__nav-item 
                  a.header-modal__nav-link(href="#") 
                    |#{link}
  +mobile-header
