.calc
  .calc__top
    .calc__ttl Нажмите на зуб несколько раз, чтобы выбрать степень разрушения
    .calc__instruction
      img(src="assets/images/calc/instruction-1.png", alt="")
      img(src="assets/images/calc/instruction-2.png", alt="")
    img.calc__instruction-mob(src="assets/images/calc/instruction-mob.png", alt="")
  .calc__teeth
    .calc__left-col
      .calc__bracket
      .calc__txt Правая часть
    .calc__teeth-box
      .calc__teeth-row
        - var i = 1
        each toothId in ['18', '17', '16', '15', '14', '13', '12', '11', '21', '22', '23', '24', '25', '26', '27', '28']
          button.tooth-button(data-tooth-id=toothId)
            img.tooth-removed(src=`assets/images/calc/removed${i}.png`, alt="")
            img.tooth-destroyed(src=`assets/images/calc/destroyed${i}.png`, alt="")
            img.tooth-clean(src=`assets/images/calc/teeth${i++}.png`, alt="")
      .calc__teeth-row
        - var i = 17
        each toothId in ['48', '47', '46', '45', '44', '43', '42', '41', '31', '32', '33', '34', '35', '36', '37', '38']
          button.tooth-button(data-tooth-id=toothId)
            img.tooth-removed(src=`assets/images/calc/removed${i}.png`, alt="")
            img.tooth-destroyed(src=`assets/images/calc/destroyed${i}.png`, alt="")
            img.tooth-clean(src=`assets/images/calc/teeth${i++}.png`, alt="")
    .calc__teeth-box-mob
      .calc__teeth-row-mob
        button.tooth-button-mob
          img(src=`assets/images/calc/mob/tooth3.png`, alt="")
        button.tooth-button-mob
          img(src=`assets/images/calc/mob/tooth2.png`, alt="")
        button.tooth-button-mob
          img(src=`assets/images/calc/mob/tooth1.png`, alt="")
      .calc__teeth-row-mob
    .calc__right-col
      .calc__txt Левая часть
      .calc__bracket
  ul.calc__list