.calc
  .calc__top
    .calc__ttl Нажмите на зуб несколько раз, чтобы выбрать степень разрушения
    .calc__instruction
      .calc__instruction-wrapper
        .calc__instruction-container
          svg.calc__instruction-item(xmlns='http://www.w3.org/2000/svg' width='37' height='37' viewbox='0 0 37 37' fill='none')
            circle(cx='18.5' cy='18.5' r='18.5' fill='#E62B3E' fill-opacity='0.35')
            circle(cx='18.5' cy='18.5' r='17.5' stroke='#E62B3E' stroke-opacity='0.6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
            path(d='M16.9 31.6145L21.8 36L19.35 31.9518L24.25 26.5542L19 20.8193L26 15.759L20.4 8H12L19.35 14.0723L13.75 19.4699L20.4 26.2169L16.9 31.6145Z' fill='#E62B3E' fill-opacity='0.6')
          svg.calc__instruction-item(xmlns='http://www.w3.org/2000/svg' width='36' height='54' viewbox='0 0 36 54' fill='none')
            path(d='M13.7433 40V31.299L11.8463 32.447V31.054L13.7433 29.92H15.0103V40H13.7433ZM16.8338 40L20.2988 34.897L16.9248 29.92H18.4438L21.0548 33.847L23.6588 29.92H25.1848L21.8108 34.897L25.2688 40H23.7498L21.0548 35.954L18.3598 40H16.8338Z' fill='#738688')
            rect(x='0.90918' y='0.5' width='34.5909' height='53' rx='17.2955' stroke='#738688')
            path(d='M1 18C1 8.05888 9.05888 0 19 0V22H1V18Z' fill='#738688')
            line(x1='18' y1='21.5' x2='35' y2='21.5' stroke='#738688')
          .calc__instruction-item.calc__instruction-text
            |Разрушенный зуб
        .calc__instruction-container
          svg.calc__instruction-item(xmlns='http://www.w3.org/2000/svg' width='37' height='37' viewbox='0 0 37 37' fill='none')
            circle(cx='18.5' cy='18.5' r='18.5' fill='#738688' fill-opacity='0.21')
            path(opacity='0.6' d='M27 18.5C27 23.1944 23.1944 27 18.5 27C15.9758 27 13.7095 25.901 12.1513 24.1521C10.8124 22.6493 10 20.6707 10 18.5C10 13.8056 13.8056 10 18.5 10C20.9447 10 23.1471 11.0308 24.6991 12.6844C26.1269 14.2056 27 16.2498 27 18.5Z' stroke='white' stroke-width='2')
          svg.calc__instruction-item(xmlns='http://www.w3.org/2000/svg' width='36' height='55' viewbox='0 0 36 55' fill='none')
            path(d='M10.8504 39.993L10.8574 38.873L15.3304 34.848C15.7037 34.512 15.9534 34.1947 16.0794 33.896C16.21 33.5927 16.2754 33.2823 16.2754 32.965C16.2754 32.5777 16.1867 32.2277 16.0094 31.915C15.832 31.6023 15.5894 31.355 15.2814 31.173C14.978 30.991 14.6327 30.9 14.2454 30.9C13.844 30.9 13.487 30.9957 13.1744 31.187C12.8617 31.3737 12.6144 31.6233 12.4324 31.936C12.255 32.2487 12.1687 32.5893 12.1734 32.958H10.8994C10.8994 32.3233 11.0464 31.7633 11.3404 31.278C11.6344 30.788 12.0334 30.4053 12.5374 30.13C13.046 29.85 13.6224 29.71 14.2664 29.71C14.8917 29.71 15.4517 29.8547 15.9464 30.144C16.441 30.4287 16.8307 30.8183 17.1154 31.313C17.4047 31.803 17.5494 32.3583 17.5494 32.979C17.5494 33.4177 17.4934 33.798 17.3814 34.12C17.274 34.442 17.106 34.7407 16.8774 35.016C16.6487 35.2867 16.3617 35.576 16.0164 35.884L12.2994 39.223L12.1384 38.803H17.5494V39.993H10.8504ZM18.3841 40L21.8491 34.897L18.4751 29.92H19.9941L22.6051 33.847L25.2091 29.92H26.7351L23.3611 34.897L26.8191 40H25.3001L22.6051 35.954L19.9101 40H18.3841Z' fill='#738688')
            rect(x='0.5' y='0.5' width='35' height='53.6207' rx='17.5' stroke='#738688')
            path(d='M0 19C0 8.50659 8.50659 0 19 0V22H0V19Z' fill='#738688')
            line(x1='17' y1='21.5' x2='35' y2='21.5' stroke='#738688')
          .calc__instruction-item.calc__instruction-text
            |Удаленный зуб
    .calc__legend
      .calc__legend-item
        svg.calc__legend-svg(xmlns='http://www.w3.org/2000/svg' width='37' height='37' viewbox='0 0 37 37' fill='none')
          circle(cx='18.5' cy='18.5' r='18.5' fill='#E62B3E' fill-opacity='0.35')
          circle(cx='18.5' cy='18.5' r='17.5' stroke='#E62B3E' stroke-opacity='0.6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          path(d='M16.9 31.6145L21.8 36L19.35 31.9518L24.25 26.5542L19 20.8193L26 15.759L20.4 8H12L19.35 14.0723L13.75 19.4699L20.4 26.2169L16.9 31.6145Z' fill='#E62B3E' fill-opacity='0.6')
        .calc__legend-subitem
          svg(xmlns='http://www.w3.org/2000/svg' width='27' height='39' viewbox='0 0 27 39' fill='none')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M19.391 13.6961C18.7645 13.6961 18.1822 13.8854 17.6982 14.2099C17.2822 13.0244 16.1532 12.1743 14.8255 12.1743C14.2711 12.1743 13.7514 12.3225 13.3037 12.5815V6.08708C13.3037 4.40613 11.941 3.04346 10.2601 3.04346C8.57915 3.04346 7.21647 4.40613 7.21647 6.08708V20.9384L5.67998 18.2771C4.83951 16.8213 2.97806 16.3226 1.52232 17.163C0.0665773 18.0035 -0.432196 19.865 0.408276 21.3207C0.601859 21.656 1.34726 22.9457 1.50216 23.2154C2.68671 25.2774 3.0967 28.7714 4.28652 30.8361C5.94675 33.7171 8.72589 37.5126 8.88187 37.729C9.12756 38.07 9.60311 38.1472 9.94404 37.9015C10.285 37.6558 10.3622 37.1803 10.1165 36.8393C9.96337 36.6268 6.9679 32.4575 5.6015 30.0712C4.6735 28.4505 4.12019 24.6856 2.82009 22.4545C2.66376 22.1862 1.91978 20.8951 1.7262 20.5598C1.30597 19.8319 1.55535 18.9012 2.28322 18.481C3.01109 18.0607 3.94182 18.3101 4.36205 19.038L7.20938 23.9697C7.4758 24.5279 8.73828 24.4996 8.73828 23.5879V6.08708C8.73828 5.2466 9.41962 4.56527 10.2601 4.56527C11.1006 4.56527 11.7819 5.2466 11.7819 6.08708V19.0225C11.7819 19.4427 12.1226 19.7834 12.5428 19.7834C12.963 19.7834 13.3037 19.4427 13.3037 19.0225V15.2179C13.3037 14.3775 13.985 13.6961 14.8255 13.6961C15.666 13.6961 16.3473 14.3775 16.3473 15.2179V19.0225C16.3473 19.4427 16.688 19.7834 17.1082 19.7834C17.5285 19.7834 17.8691 19.4427 17.8691 19.0225V16.7397C17.8691 15.8993 18.5505 15.2179 19.391 15.2179C20.2314 15.2179 20.9128 15.8993 20.9128 16.7397V20.5443C20.9128 20.9645 21.2534 21.3052 21.6737 21.3052C22.0939 21.3052 22.4346 20.9645 22.4346 20.5443V18.2616C22.4346 17.4211 23.1159 16.7397 23.9564 16.7397C24.7969 16.7397 25.4782 17.4211 25.4782 18.2616V23.5879C25.4782 28.5714 22.4346 33.3204 22.4346 37.2842C22.4346 37.7044 22.7752 38.0451 23.1955 38.0451C23.6157 38.0451 23.9564 37.7044 23.9564 37.2842C23.9564 33.8686 27 28.5907 27 23.5879V18.2616C27 16.5806 25.6373 15.2179 23.9564 15.2179C23.3299 15.2179 22.7477 15.4072 22.2637 15.7317C21.8477 14.5462 20.7186 13.6961 19.391 13.6961Z' fill='#738688')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M5.69466 10.1137C4.74754 9.0406 4.17285 7.63103 4.17285 6.08724C4.17285 2.72535 6.8982 0 10.2601 0C13.622 0 16.3473 2.72535 16.3473 6.08724C16.3473 7.63103 15.7726 9.0406 14.8255 10.1137V6.08724C14.8255 3.56582 12.7815 1.52181 10.2601 1.52181C7.73867 1.52181 5.69466 3.56582 5.69466 6.08724V10.1137Z' fill='#738688')
        .calc__legend-subitem.calc__legend-text
          |Разрушенный зуб
      .calc__legend-item
        svg.calc__legend-svg.calc__legend-subitem(xmlns='http://www.w3.org/2000/svg' width='37' height='37' viewbox='0 0 37 37' fill='none')
          circle(cx='18.5' cy='18.5' r='18.5' fill='#738688' fill-opacity='0.21')
          path(opacity='0.6' d='M27 18.5C27 23.1944 23.1944 27 18.5 27C15.9758 27 13.7095 25.901 12.1513 24.1521C10.8124 22.6493 10 20.6707 10 18.5C10 13.8056 13.8056 10 18.5 10C20.9447 10 23.1471 11.0308 24.6991 12.6844C26.1269 14.2056 27 16.2498 27 18.5Z' stroke='white' stroke-width='2')
        .calc__legend-subitem
          svg(xmlns='http://www.w3.org/2000/svg' width='27' height='39' viewbox='0 0 27 39' fill='none')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M19.391 13.6961C18.7645 13.6961 18.1822 13.8854 17.6982 14.2099C17.2822 13.0244 16.1532 12.1743 14.8255 12.1743C14.2711 12.1743 13.7514 12.3225 13.3037 12.5815V6.08708C13.3037 4.40613 11.941 3.04346 10.2601 3.04346C8.57915 3.04346 7.21647 4.40613 7.21647 6.08708V20.9384L5.67998 18.2771C4.83951 16.8213 2.97806 16.3226 1.52232 17.163C0.0665773 18.0035 -0.432196 19.865 0.408276 21.3207C0.601859 21.656 1.34726 22.9457 1.50216 23.2154C2.68671 25.2774 3.0967 28.7714 4.28652 30.8361C5.94675 33.7171 8.72589 37.5126 8.88187 37.729C9.12756 38.07 9.60311 38.1472 9.94404 37.9015C10.285 37.6558 10.3622 37.1803 10.1165 36.8393C9.96337 36.6268 6.9679 32.4575 5.6015 30.0712C4.6735 28.4505 4.12019 24.6856 2.82009 22.4545C2.66376 22.1862 1.91978 20.8951 1.7262 20.5598C1.30597 19.8319 1.55535 18.9012 2.28322 18.481C3.01109 18.0607 3.94182 18.3101 4.36205 19.038L7.20938 23.9697C7.4758 24.5279 8.73828 24.4996 8.73828 23.5879V6.08708C8.73828 5.2466 9.41962 4.56527 10.2601 4.56527C11.1006 4.56527 11.7819 5.2466 11.7819 6.08708V19.0225C11.7819 19.4427 12.1226 19.7834 12.5428 19.7834C12.963 19.7834 13.3037 19.4427 13.3037 19.0225V15.2179C13.3037 14.3775 13.985 13.6961 14.8255 13.6961C15.666 13.6961 16.3473 14.3775 16.3473 15.2179V19.0225C16.3473 19.4427 16.688 19.7834 17.1082 19.7834C17.5285 19.7834 17.8691 19.4427 17.8691 19.0225V16.7397C17.8691 15.8993 18.5505 15.2179 19.391 15.2179C20.2314 15.2179 20.9128 15.8993 20.9128 16.7397V20.5443C20.9128 20.9645 21.2534 21.3052 21.6737 21.3052C22.0939 21.3052 22.4346 20.9645 22.4346 20.5443V18.2616C22.4346 17.4211 23.1159 16.7397 23.9564 16.7397C24.7969 16.7397 25.4782 17.4211 25.4782 18.2616V23.5879C25.4782 28.5714 22.4346 33.3204 22.4346 37.2842C22.4346 37.7044 22.7752 38.0451 23.1955 38.0451C23.6157 38.0451 23.9564 37.7044 23.9564 37.2842C23.9564 33.8686 27 28.5907 27 23.5879V18.2616C27 16.5806 25.6373 15.2179 23.9564 15.2179C23.3299 15.2179 22.7477 15.4072 22.2637 15.7317C21.8477 14.5462 20.7186 13.6961 19.391 13.6961Z' fill='#738688')
            path(fill-rule='evenodd' clip-rule='evenodd' d='M5.69466 10.1137C4.74754 9.0406 4.17285 7.63103 4.17285 6.08724C4.17285 2.72535 6.8982 0 10.2601 0C13.622 0 16.3473 2.72535 16.3473 6.08724C16.3473 7.63103 15.7726 9.0406 14.8255 10.1137V6.08724C14.8255 3.56582 12.7815 1.52181 10.2601 1.52181C7.73867 1.52181 5.69466 3.56582 5.69466 6.08724V10.1137Z' fill='#738688')
        .calc__legend-subitem.calc__legend-text
          |Удаленный зуб
  .calc__teeth
    .calc__left-col
      .calc__bracket
      .calc__txt.calc__txt--right Правая часть
    .calc__teeth-box
      .calc__teeth-row
        - var i = 1
        each toothId in ['18', '17', '16', '15', '14', '13', '12', '11', '21', '22', '23', '24', '25', '26', '27', '28']
          button.tooth-button.tooth-button--top(data-tooth-id=toothId)
            img.tooth-removed(src=`assets/images/svg/calc/removed${i}.svg`, alt="")
            img.tooth-destroyed(src=`assets/images/calc/destroyed${i}.png`, alt="")
            img.tooth-clean(src=`assets/images/calc/teeth${i++}.png`, alt="")
      .calc__teeth-row
        - var i = 17
        each toothId in ['48', '47', '46', '45', '44', '43', '42', '41', '31', '32', '33', '34', '35', '36', '37', '38']
          button.tooth-button.tooth-button--bot(data-tooth-id=toothId)
            img.tooth-removed(src=`assets/images/svg/calc/removed${i}.svg`, alt="")
            img.tooth-destroyed(src=`assets/images/calc/destroyed${i}.png`, alt="")
            img.tooth-clean(src=`assets/images/calc/teeth${i++}.png`, alt="")
    .calc__teeth-box-mob
      .calc__teeth-row-mob
        -
          var index = 0
          //- for (var index = 0; index < 32; index++)

        .calc-mob-jaw-ico
          img(src="assets/images/calc/mob/upper-jaw.png", alt="")
        .calc__mob-left-column
          -
            var num1 = [18, 17, 16, 15, 14, 13, 12, 11]

          each num in num1
            button.tooth-button.tooth-button-mob.tooth-button--top
              .tooth-button-number #{num}
              img.tooth-removed(src=`assets/images/svg/calc/mob/removed${index + 1}.svg`, alt="")
              img.tooth-destroyed(src=`assets/images/svg/calc/mob/destroyed${index + 1}.svg`, alt="")
              img.tooth-clean(src=`assets/images/calc/mob/tooth${index++ + 1}.png`, alt="")
        .calc__mob-right-column
          -
            var num2 = [21, 22, 23, 24, 25, 26, 27, 28]

          each num in num2
            button.tooth-button.tooth-button-mob.tooth-button--top
              .tooth-button-number #{num}
              img.tooth-removed(src=`assets/images/svg/calc/mob/removed${index + 1}.svg`, alt="")
              img.tooth-destroyed(src=`assets/images/svg/calc/mob/destroyed${index + 1}.svg`, alt="")
              img.tooth-clean(src=`assets/images/calc/mob/tooth${index++ + 1}.png`, alt="")
      .calc__teeth-row-mob
        .calc-mob-jaw-ico
          img(src="assets/images/calc/mob/upper-jaw2.png", alt="")
        .calc__mob-left-column
          -
            var num3 = [48, 47, 46, 45, 44, 43, 42, 41]

          each num in num3
            button.tooth-button.tooth-button-mob.tooth-button--bot
              .tooth-button-number #{num}
              img.tooth-removed(src=`assets/images/svg/calc/mob/removed${index + 1}.svg`, alt="")
              img.tooth-destroyed(src=`assets/images/svg/calc/mob/destroyed${index + 1}.svg`, alt="")
              img.tooth-clean(src=`assets/images/calc/mob/tooth${index++ + 1}.png`, alt="")
        .calc__mob-right-column
          -
            var num4 = [31, 32, 33, 34, 35, 36, 37, 38]

          each num in num4
            button.tooth-button.tooth-button-mob.tooth-button--bot
              .tooth-button-number #{num}
              img.tooth-removed(src=`assets/images/svg/calc/mob/removed${index + 1}.svg`, alt="")
              img.tooth-destroyed(src=`assets/images/svg/calc/mob/destroyed${index + 1}.svg`, alt="")
              img.tooth-clean(src=`assets/images/calc/mob/tooth${index++ + 1}.png`, alt="")
    .calc__right-col
      .calc__txt.calc__txt--left Левая часть
      .calc__bracket
  //- ul.calc__list
