.calc
  .calc__top
    .calc__ttl Нажмите на зуб несколько раз, чтобы выбрать степень разрушения
    .calc__instruction
      img(src="assets/images/calc/instruction-1.png", alt="")
      img(src="assets/images/calc/instruction-2.png", alt="")
    img.calc__instruction-mob(src="assets/images/calc/instruction-mob.png", alt="")
  .calc__teeth
    .calc__left-col
      .calc__bracket
      .calc__txt.calc__txt--right Правая часть
    .calc__teeth-box
      .calc__teeth-row
        - var i = 1
        each toothId in ['18', '17', '16', '15', '14', '13', '12', '11', '21', '22', '23', '24', '25', '26', '27', '28']
          button.tooth-button.tooth-button--top(data-tooth-id=toothId)
            img.tooth-removed(src=`assets/images/svg/calc/removed${i}.svg`, alt="")
            img.tooth-destroyed(src=`assets/images/calc/destroyed${i}.png`, alt="")
            img.tooth-clean(src=`assets/images/calc/teeth${i++}.png`, alt="")
      .calc__teeth-row
        - var i = 17
        each toothId in ['48', '47', '46', '45', '44', '43', '42', '41', '31', '32', '33', '34', '35', '36', '37', '38']
          button.tooth-button.tooth-button--bot(data-tooth-id=toothId)
            img.tooth-removed(src=`assets/images/svg/calc/removed${i}.svg`, alt="")
            img.tooth-destroyed(src=`assets/images/calc/destroyed${i}.png`, alt="")
            img.tooth-clean(src=`assets/images/calc/teeth${i++}.png`, alt="")
    .calc__teeth-box-mob
      .calc__teeth-row-mob
        -
          var index = 0
          //- for (var index = 0; index < 32; index++)

        .calc-mob-jaw-ico
          img(src="assets/images/calc/mob/upper-jaw.png", alt="")
        .calc__mob-left-column
          -
            var num1 = [18, 17, 16, 15, 14, 13, 12, 11]

          each num in num1
            button.tooth-button.tooth-button-mob.tooth-button--top
              .tooth-button-number #{num}
              img.tooth-removed(src=`assets/images/svg/calc/mob/removed${index + 1}.svg`, alt="")
              img.tooth-destroyed(src=`assets/images/svg/calc/mob/destroyed${index + 1}.svg`, alt="")
              img.tooth-clean(src=`assets/images/calc/mob/tooth${index++ + 1}.png`, alt="")
        .calc__mob-right-column
          -
            var num2 = [21, 22, 23, 24, 25, 26, 27, 28]

          each num in num2
            button.tooth-button.tooth-button-mob.tooth-button--top
              .tooth-button-number #{num}
              img.tooth-removed(src=`assets/images/svg/calc/mob/removed${index + 1}.svg`, alt="")
              img.tooth-destroyed(src=`assets/images/svg/calc/mob/destroyed${index + 1}.svg`, alt="")
              img.tooth-clean(src=`assets/images/calc/mob/tooth${index++ + 1}.png`, alt="")
      .calc__teeth-row-mob
        .calc-mob-jaw-ico
          img(src="assets/images/calc/mob/upper-jaw2.png", alt="")
        .calc__mob-left-column
          -
            var num3 = [48, 47, 46, 45, 44, 43, 42, 41]

          each num in num3
            button.tooth-button.tooth-button-mob.tooth-button--bot
              .tooth-button-number #{num}
              img.tooth-removed(src=`assets/images/svg/calc/mob/removed${index + 1}.svg`, alt="")
              img.tooth-destroyed(src=`assets/images/svg/calc/mob/destroyed${index + 1}.svg`, alt="")
              img.tooth-clean(src=`assets/images/calc/mob/tooth${index++ + 1}.png`, alt="")
        .calc__mob-right-column
          -
            var num4 = [31, 32, 33, 34, 35, 36, 37, 38]

          each num in num4
            button.tooth-button.tooth-button-mob.tooth-button--bot
              .tooth-button-number #{num}
              img.tooth-removed(src=`assets/images/svg/calc/mob/removed${index + 1}.svg`, alt="")
              img.tooth-destroyed(src=`assets/images/svg/calc/mob/destroyed${index + 1}.svg`, alt="")
              img.tooth-clean(src=`assets/images/calc/mob/tooth${index++ + 1}.png`, alt="")
    .calc__right-col
      .calc__txt.calc__txt--left Левая часть
      .calc__bracket
  //- ul.calc__list