mixin xray
  svg.xray(class=attributes.class preserveAspectRatio='xMidYMid slice')
    defs
      mask#mask
        ellipse.xray__ellipse(fill='white')

    image.xray__image(
      data-href='assets/images/xray-above.jpg'
      preserveAspectRatio='xMidYMid slice'
    )
    image.xray__image(
      data-href='assets/images/xray-under.jpg'
      preserveAspectRatio='xMidYMid slice'
      mask='url(#mask)'
    )